ParseTheParcelApp/Service References/ParseTheParcelService/ParseTheParcel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3763/ParseTheParcel.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ParseTheParcel" />
  <xs:element name="GetPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="length" type="xs:int" />
        <xs:element minOccurs="0" name="breadth" type="xs:int" />
        <xs:element minOccurs="0" name="hight" type="xs:int" />
        <xs:element minOccurs="0" name="weight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ParseTheParcel" minOccurs="0" name="GetPackageResult" nillable="true" type="q1:PackageBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="length" type="xs:int" />
        <xs:element minOccurs="0" name="breadth" type="xs:int" />
        <xs:element minOccurs="0" name="hight" type="xs:int" />
        <xs:element minOccurs="0" name="weight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPackageNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="length" type="xs:int" />
        <xs:element minOccurs="0" name="breadth" type="xs:int" />
        <xs:element minOccurs="0" name="hight" type="xs:int" />
        <xs:element minOccurs="0" name="weight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPackageCostResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>