ParseTheParcelApp/Service References/ParseTheParcelService/ParseTheParcelPackage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ParseTheParcelPackage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3763/ParseTheParcel.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3763/ParseTheParcel.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3763/ParseTheParcel.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ParseTheParcel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IParceTheParcel_GetPackage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPackage" />
  </wsdl:message>
  <wsdl:message name="IParceTheParcel_GetPackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPackageResponse" />
  </wsdl:message>
  <wsdl:message name="IParceTheParcel_GetPackageName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPackageName" />
  </wsdl:message>
  <wsdl:message name="IParceTheParcel_GetPackageName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPackageNameResponse" />
  </wsdl:message>
  <wsdl:message name="IParceTheParcel_GetPackageCost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPackageCost" />
  </wsdl:message>
  <wsdl:message name="IParceTheParcel_GetPackageCost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPackageCostResponse" />
  </wsdl:message>
  <wsdl:portType name="IParceTheParcel">
    <wsdl:operation name="GetPackage">
      <wsdl:input wsaw:Action="http://tempuri.org/IParceTheParcel/GetPackage" message="tns:IParceTheParcel_GetPackage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParceTheParcel/GetPackageResponse" message="tns:IParceTheParcel_GetPackage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPackageName">
      <wsdl:input wsaw:Action="http://tempuri.org/IParceTheParcel/GetPackageName" message="tns:IParceTheParcel_GetPackageName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParceTheParcel/GetPackageNameResponse" message="tns:IParceTheParcel_GetPackageName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPackageCost">
      <wsdl:input wsaw:Action="http://tempuri.org/IParceTheParcel/GetPackageCost" message="tns:IParceTheParcel_GetPackageCost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParceTheParcel/GetPackageCostResponse" message="tns:IParceTheParcel_GetPackageCost_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IParceTheParcel" type="tns:IParceTheParcel">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPackage">
      <soap:operation soapAction="http://tempuri.org/IParceTheParcel/GetPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackageName">
      <soap:operation soapAction="http://tempuri.org/IParceTheParcel/GetPackageName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackageCost">
      <soap:operation soapAction="http://tempuri.org/IParceTheParcel/GetPackageCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParseTheParcelPackage">
    <wsdl:port name="BasicHttpBinding_IParceTheParcel" binding="tns:BasicHttpBinding_IParceTheParcel">
      <soap:address location="http://localhost:3763/ParseTheParcel.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>